<%- include('../partials/header') %>
  
<table class="styled-table">
  <thead>
    <tr class="user-block">
      <!-- <th colspan="2" class="avitar"><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" ><%= user.name %></th> -->
      <th><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" ></th><th><%= user.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>email: </td>
      <td><%= user.email %></td>
    </tr>
  <!-- Backlog: BELOW HERE SHOULD NOT SHOW UNLESS SIGNED IN USER IS VERIFIED -->
  <form id="edit-profile-form" method="POST" action="/users/<%= user._id %>?_method=PUT">
    <tr>
      <td>Gender: </td>
      <td><input type="text" id="gender" name="gender" value="<%= user.gender %>"></td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><input type="text" id="location" name="location" value="<%= user.location %>"></td>

    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Update Profile">
      </td>
    </tr>
  </form>
  </tbody>

<!-- Display user's games -->
<table class="styled-table">
  <thead>
    <tr>
      <th colspan="3">Your Sports</th>
    </tr>
  </thead>
  <tbody>
      <% if (user.games.length) { %>
        <% user.games.forEach(function(g) { %>
          <tr>
            <th colspan="2"><%= g.userGame %></th>
              <td rowspan="5"><% if (user) { %>
              <form action="/users/<%= g._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
              <!-- <input type="submit" value="edit"></td> -->
              <% } %>
          </tr><tr>
            <!--  <div>Preferred Oponnent Gender:</div></div><%# user.gender %></div>  -->
            <td>Skill Level</td><td><%= g.skillLevel %></td>
          </tr><tr>
            <td>Desired Play Location</td><td><%= g.gameLocation %></td>
          </tr><tr>
            <td>Years Experience</td><td><%= g.yearsExperience %></td>
          </tr><tr>
            <td>Competitiveness</td><td><%= g.competitiveness %></td>      
          </tr>
  </tbody>
          <% }); %>
      <% } %> 

<!-- add user's new game -->
<!-- pull acceptable enum values from Mongoose schema -->
<% 
const userGameEnums = user.schema.path('games').schema.path('userGame').enumValues;
const skillLevelEnums = user.schema.path('games').schema.path('skillLevel').enumValues;
 %>

<table class="styled-table">
  <thead>
    <tr>
      <th colspan="2">Add New Sport Profile</th>
    </tr>
  </thead>
  <tbody> 
        <form action="/users/<%= user._id %>/games" method="POST">  
            <tr>
              <td>Sport</td>
              <td><select name="userGame" id="userGame">
                <% userGameEnums.forEach(function(game){ %>
                  <option value="<%= game %>"><%= game %></option>
                <% }) %>
              </select></td>
            </tr>
            <tr>
              <td>Skill Level</td>
              <td><select name="skillLevel" id="skillLevel">
                <% skillLevelEnums.forEach(function(skill){ %>
                  <option value="<%= skill %>"><%= skill %></option>
                <% }) %>
              </select></td>

            </tr>
            <tr>
              <td>Desired Play Location</td><td><input type="text" id="gameLocation" name="gameLocation"></td>
            </tr>
            <tr>
              <td>Years Experience</td><td><input type="number" id="yearsExperience" name="yearsExperience"></td>
            </tr>
            <tr>
              <td>Competitiveness</td><td><input type="number" min="1" max="10" id="competitiveness" name="competitiveness"></td>
            </tr>
            <td colspan="2">
              <input type="submit" value="Add New Sport Profile">
            </td>

        </form>
          <!-- add additional info for location, launage, country -->
          <!-- <button type="submit">save profile </button> -->
    </tbody>




<%- include('../partials/footer') %>