<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release<br>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pickups.forEach(function(p) { %>
      <tr>
        <td><%= p.sport %></td>
        <td><%= p.location %></td>
        <td><a href="/pickups/<%= p._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>