<%- include('../partials/header') %>

<% console.log('pickup to show:'), pickup %>
<% %>
<table class="styled-table">
  <thead>
    <tr>
      <th>Players<br> Needed</th>
      <th>Sport</th>
      <th>Skill<br> Level</th>
      <th>Location</th>
      <th>Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= pickup.playersRequested %></td>
        <% pickup.gameRequested.forEach(function(detail) { %>
          <td><%= detail.userGame %></td>
          <td><%= detail.skillLevel %></td>
          <td><%= detail.gameLocation %></td>
        <% }); %>  
        <td><%= pickup.dateTimeRequested.toLocaleDateString() %><br><%= pickup.dateTimeRequested.toLocaleTimeString() %></td>
        <td><%= pickup.durationRequested %></td>
    </tr>
      <tr>
        <td><%= pickup.playersRequested %></td>
        <td>...Sport...</td>
        <td>..skill level..</td>
        <td>...location...</td>
        <td><%= pickup.dateTimeRequested.toLocaleDateString() %><br><%= pickup.dateTimeRequested.toLocaleTimeString() %></td>
        <td><%= pickup.durationRequested %></td>
      </tr>
    
    </tbody>
</table>



<%- include('../partials/footer') %>