<%- include('../partials/header') %>

<!-- <%# console.log('**pickup to show:', pickup) %>
<%# console.log('**user to show:', user) %>
<%# console.log('user ', user.name, 'puser ', puser) %> -->
<table class="styled-table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Players<br> Needed</th>
      <th>Sport</th>
      <th>Skill<br> Level</th>
      <th>Location</th>
      <th>Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><a href="/users/<%= puser._id %>" ><%= puser.name %></td>
        <td><%= pickup.playersRequested %></td>
        <% pickup.gameRequested.forEach(function(detail) { %>
          <td><%= detail.userGame %></td>
          <td><%= detail.skillLevel %></td>
          <td><%= detail.gameLocation %></td>
        <% }); %>  
        <td><%= pickup.dateTimeRequested.toLocaleDateString() %><br><%= pickup.dateTimeRequested.toLocaleTimeString() %></td>
        <td><%= pickup.durationRequested %></td>
        </tr>
    
    </tbody>
</table>



<%- include('../partials/footer') %>